# Ignore IDE files
/.settings/
/.idea/
/.vscode/
/java-sdk.iml
.classpath
.project

# Ignore build files
/contracts/proto/validate
/src/main/java/io/nitric/proto
/src/main/java/io/envoyproxy
/target/
/dependency-reduced-pom.xml
